@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .exampleClass {
    @apply pt-10 hover:text-purple-500
  }
}
#navbar {
  position: fixed; /* Make it stick/fixed */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  top: 0;
}